<div class="toolbar">
	<div class="breadcrumbs">Administration</div>
	<div class="tool-container">
		<div id="createUserPopupButton" class="tool-button">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-user"></i>
			</span>
			<p>Create User</p>
		</div>
		<div id="editUserPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-pencil"></i>
			</span>
			<p>Edit</p>
		</div>
		<div id="deleteUserPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-trash-o"></i>
			</span>
			<p>Delete</p>
		</div>
	</div>
</div>
<div class="break"></div>
<table id="adminTable" class="file-table">
	<thead>
		<tr>
			<th class="shrink text-center select-all-td"><i class="fa fa-circle-o"></i></th>
			<th class="indent">Username</th>
			<th class="shrink">Permission</th>
		</tr>
	</thead>
	<tbody>
		<tr class="item-element">
			<td class="select-td"><i class="fa fa-circle-o fa-fw"></i></td>
			<td class="description-td">
				<div class="user-container">
					<i class="fa fa-user fa-fw"></i>
					<div>
						<p>craig.dykstra</p>
					</div>
				</div>
			</td>
			<td class="text-center">
				edit
			</td>
		</tr>
		<tr class="item-element">
			<td class="select-td"><i class="fa fa-circle-o fa-fw"></i></td>
			<td class="description-td">
				<div class="user-container">
					<i class="fa fa-user fa-fw"></i>
					<div>
						<p>darryl.staal</p>
					</div>
				</div>
			</td>
			<td class="text-center">
				admin
			</td>
		</tr>
	</tbody>
</table>


<script type="text/javascript" src="/expressdrive/admin.js"></script>