<div class="toolbar">
	<div class="breadcrumbs">Administration</div>
	<div class="tool-container">
		<div id="createUserPopupButton" class="tool-button">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-user"></i>
			</span>
			<p>Create User</p>
		</div>
		<div id="editUserPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-pencil"></i>
			</span>
			<p>Edit</p>
		</div>
		<div id="deleteUserPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-trash-o"></i>
			</span>
			<p>Delete</p>
		</div>
	</div>
</div>
<div class="break"></div>
<div id="usersTableContainer">
	{{> usersTable}}
</div>


<script type="text/javascript" src="/expressdrive/admin.js"></script>