<div id="createUserPopup" class="popup edit-popup">
	<div class="header">Create New User</div>
	<div class="body">
		<label>Username</label>
		<input id="usernameInputCU" type="text">
		<label>Password</label>
		<input id="passwordInputCU" type="password">
		<label>Repeat Password</label>
		<input id="passwordRepeatInputCU" type="password">
		<label>Permission</label>
		<select id="permissionSelectCU">
			<option value=1>User</option>
			<option value=0>Admin</option>
		</select>
	</div>
	<div class="footer">
		<button id="createUserButton" class="primary">Create User</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>