<div id="createFolderPopup" class="popup create-folder-popup">
	<div class="header">Create folder in 'Folder 1'</div>
	<div class="body">
		<label>Folder Name</label>
		<input id="folderNameInput" type="text" name="name" value="New Folder">
	</div>
	<div class="footer">
		<button id="createFolderButton" class="primary">Create Folder</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>