<div id="deleteUsersPopup" class="popup delete-popup">
	<div class="header">Delete <span id="deleteUsersHeaderSpan"></span></div>
	<div class="body">
		<p>Are you sure you would like to delete <span id="deleteUsersBodySpan"></span></p>
	</div>
	<div class="footer">
		<button id="deleteUsersButton" class="primary">Yes, Delete</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>