<div id="deletePopup" class="popup delete-popup">
	<div class="header">Delete <span id="deleteHeaderSpan"></span> from Folder 1</div>
	<div class="body">
		<p>Are you sure you would like to delete <span id="deleteBodySpan"></span> from Folder 1</p>
	</div>
	<div class="footer">
		<button id="deleteButton" class="primary">Yes, Delete</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>