<div id="editPopup" class="popup edit-popup">
	<div class="header">Edit '<span id="editHeaderSpan"></span>'</div>
	<div class="body">
		<label>Name</label>
		<div class="filename-container">
			<input id="filenameInput" type="text">
			<span id="editExtensionSpan"></span>
		</div>
	</div>
	<div class="footer">
		<button id="editButton" class="primary">Save</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>