<div id="editPopup" class="popup edit-popup">
	<div class="header">Edit '<span id="editHeaderSpan"></span>'</div>
	<div class="body">
		<label>Name</label>
		<input id="filenameInput" type="text" onfocus="this.select()">
	</div>
	<div class="footer">
		<button id="editButton" class="primary">Save</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>