<div class="login-page">
	<div class="login-container">
		<div class="head">
			<img src="{{branding.logo}}">
			<p>{{branding.companyName}}</p>
		</div>
		<div id="messageCenter" class="message-center">
			<p><i class="fa fa-exclamation-triangle"></i> <span>Please enter all fields</span></p>
		</div>
		<form id="loginForm" action="{{path}}/login" method="post">
			<label for="username">username</label>
			<input id="username" type="text" name="username">
			<label for="password">password</label>
			<input id="passwordRaw" type="password" name="passwordRaw">
			<input id="password" type="hidden" name="password">
			<input id="oreq" type="hidden" name="oreq">
		</form>
		<div class="break"></div>
		<button class="primary" type="submit" form="loginForm">Log In</button>
	</div>
</div>

<script type="text/javascript">
	var loginForm = document.getElementById("loginForm")
	var username = document.getElementById("username")
	var passwordRaw = document.getElementById("passwordRaw")
	var password = document.getElementById("password")
	var oreq = document.getElementById("oreq")

	loginForm.onsubmit = function(e) {
		var usernameValue = username.value
		var passwordRawValue = passwordRaw.value

		if (!usernameValue || usernameValue == "" || !passwordRawValue || passwordRawValue == "") {
			message = "Please enter all fields"
			showMessage()

			e.preventDefault()
			return false
		}

		passwordRaw.value = ""
		password.value = Sha256.hash(usernameValue + passwordRawValue)

		var search = getSearchObj()
		if (search.oreq) { oreq.value = search.oreq }
	}

	var messageCenter = document.getElementById("messageCenter")
	var message = "{{message}}"
	var tl = new TimelineMax()

	tl.from(messageCenter, 0.5, { height: 0, padding: 0, margin: 0, opacity: 0 }, 0.5)
	tl.pause()

	if (message !== "") {
		showMessage()
	}

	function showMessage() {
		document.querySelector("#messageCenter span").textContent = message
		tl.play()
	}
</script>