<!DOCTYPE html>
<html>
<head>
	<title>ExpressDrive</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/6e7d762ec7.css">
	<link rel="stylesheet" type="text/css" href="/expressdrive/style.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		__path = "{{path}}"
	</script>
	<script type="text/javascript" src="/expressdrive/utils.js"></script>
	<script type="text/javascript" src="/expressdrive/sha256.js"></script>
	<script type="text/javascript" src="/expressdrive/SelectTable.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
</head>
<body>
	{{> (lookup . 'page') }}
</body>
</html>