<div id="permissionsPopup" class="popup permissions-popup">
	<div class="header">Edit permissions for '<span class="folder-name"></span>'</div>
	<div id="permissionsPopupBody" class="body"></div>
	<div class="footer">
		<button id="permissionsSaveButton" class="primary">Save</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>

<script id="permissionsItemTemplate" type="text/x-handlebars-template">
	
</script>