{{#if showInherit}}
<div class="folder-permission-block">
	<input id="inheritPermissions" type="checkbox" {{#if inheritPermissions}}checked{{/if}}/> <label for="inheritPermissions">Inherit permissions from parent folder</label>
</div>
{{/if}}
<div class="permission-table-container">
	{{#if showInherit}}
	<div id="permissionShade" class="permission-shade{{#if inheritPermissions}}{{else}} hidden{{/if}}">
		<p>Uncheck the box above to manage permissions for this folder</p>
	</div>
	{{/if}}
	<table class="file-table">
		<thead>
			<tr>
				<th>Username</th>
				<th class="shrink">Edit</th>
				<th class="shrink">Read-only</th>
			</tr>
		</thead>
		<tbody id="permissionsTableBody">
			{{#each permissions}}
			<tr class="permissions-item" data-id="{{this.id}}">
				<td>{{this.name}}</td>
				<td class="select-td text-center{{#if this.edit}} selected{{/if}}" data-permission-level=1>
					<i class="fa fa-fw fa{{#if this.edit}}-check{{/if}}-circle-o{{#if this.edit}} color-green{{/if}}"></i>
				</td>
				<td class="select-td text-center{{#if this.read}} selected{{/if}}" data-permission-level=2>
					<i class="fa fa-fw fa{{#if this.read}}-check{{/if}}-circle-o{{#if this.read}} color-green{{/if}}"></i>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>