<table class="file-table">
	<thead>
		<tr>
			<th>Username</th>
			<th class="shrink">Edit</th>
			<th class="shrink">Read-only</th>
		</tr>
	</thead>
	<tbody id="permissionsTableBody">
		{{#each permissions}}
		<tr class="permissions-item" data-id="{{this.id}}">
			<td>{{this.name}}</td>
			<td class="select-td text-center{{#if this.edit}} selected{{/if}}" data-permission-level=1>
				<i class="fa fa-fw fa{{#if this.edit}}-check{{/if}}-circle-o{{#if this.edit}} color-green{{/if}}"></i>
			</td>
			<td class="select-td text-center{{#if this.read}} selected{{/if}}" data-permission-level=2>
				<i class="fa fa-fw fa{{#if this.read}}-check{{/if}}-circle-o{{#if this.read}} color-green{{/if}}"></i>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>