<div id="uploadPopup" class="popup">
	<div class="header">Upload to 'Folder 1'</div>
	<div class="body"></div>
	<div class="footer">
		<span class="sub">You may choose more than one file at a time</span>
		<button class="primary">Select Files</button>
		<button data-close-popup=true>Cancel</button>
	</div>
</div>