<div id="uploadPopup" class="popup">
	<div class="header">Upload to 'Folder 1'</div>
	<div id="uploadItemsContainer" class="body">
	</div>
	<div class="footer">
		<input id="uploadInput" type="file" name="files" multiple>
		<span class="sub">You may choose more than one file at a time</span>
		<label class="button primary" for="uploadInput">Select Files</label>
		<button data-close-popup=true>Done</button>
	</div>
</div>

<script id="uploadItemTemplate" type="text/x-handlebars-template">
	<div class="upload-item">
		<div class="main">
			<i class="fa fa-file-text-o"></i>
			<div class="filename">
				<p>\{{name}}</p>
				<p class="sub">\{{size}}</p>
			</div>
			<div class="flex-grow"></div>
			<i class="complete fa fa-check-circle"></i>
		</div>
		<div class="progress">
			<div class="bar"></div>
		</div>
	</div>
</script>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		var	uploadInput = document.getElementById("uploadInput")
		var	uploadItemsContainer = document.getElementById("uploadItemsContainer")

		function uploadFile(file) {
			var item = getNode("uploadItem", { name: file.name, size: toMB(file.size) })
			var bar = item.querySelector(".bar")
			var progress = item.querySelector(".progress")
			var check = item.querySelector(".complete")

			uploadItemsContainer.insertBefore(item, uploadItemsContainer.firstChild)
			TweenMax.from(item, 0.2, { opacity: 0, height: 0 })

			var formData = new FormData()
			formData.append('file', file, file.name)

			var xhr = new XMLHttpRequest()
			xhr.open('POST', __path + "/upload", true)

			xhr.upload.addEventListener("progress", function(e) {
				if (e.lengthComputable) {
					TweenMax.to(bar, 0.2, { width: (e.loaded / e.total * 100) + "%" })
				}
			})

			xhr.onload = function () {
				if (xhr.status === 200) {
					var tl = new TimelineMax()
					tl.to(progress, 0.2, { opacity: 0, delay: 0.5 })
					tl.fromTo(check, 0.2, { opacity: 0, x: -20 }, { opacity: 1, x: 0 })
				} else {
					alert('An error occurred!')
				}
			}

			setTimeout(function() { xhr.send(formData) }, 0.2)
		}

		uploadInput.onchange = function(e) {
			for (var i = 0; i < uploadInput.files.length; i++) {
				uploadFile(uploadInput.files[i])
			}
		}
	})
</script>