<div id="uploadPopup" class="popup upload-popup">
	<div class="header">Upload to '<span class="folder-name"></span>'</div>
	<div id="uploadItemsContainer" class="body">
	</div>
	<div class="footer">
		<input id="uploadInput" type="file" name="files" multiple>
		<span class="sub">You may choose more than one file at a time</span>
		<label class="button primary" for="uploadInput">Select Files</label>
		<button data-close-popup=true>Done</button>
	</div>
</div>

<script id="uploadItemTemplate" type="text/x-handlebars-template">
	<div class="upload-item">
		<div class="main">
			<i class="fa fa-file-text-o"></i>
			<div class="filename">
				<p>\{{name}}</p>
				<p class="sub">\{{size}}</p>
			</div>
			<i class="complete fa fa-check-circle"></i>
		</div>
		<div class="progress">
			<div class="bar"></div>
		</div>
	</div>
</script>