* {
	margin: 0;
	padding: 0;
}

html {
	color: #333;
	font-family: Lato, Sans-Serif;
	font-weight: 300;
}

body {
	background-color: #ddd;
}

html, body {
	height: 100%;
}

.text-center { text-align: center !important; }
.flex-grow { flex-grow: 1; }

a {
	text-decoration: none;
	color: inherit;
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.login-page .head {
	text-align: center;
	margin-bottom: 20px;
}

.login-container {
	position: relative;
	background-color: white;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.login-container img {
	height: 75px;
}

.login-container label,
.login-container input {
	display: block;
	margin-bottom: 5px;
}

.login-container label {
	color: #999;
	font-size: 0.8em;
}

.login-container input[type="text"],
.login-container input[type="password"] {
	font-size: 1.1em;
	padding: 5px;
	border-radius: 0px;
	border: 1px solid #ddd;
	-webkit-appearance: none;
}

.login-container button {
	width: 100%;
	font-size: 1.1em;
}

button,
a.button,
label.button {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color: #999;
	color: white;
	font-family: Lato, Sans-Serif;
	font-weight: 300;
	font-size: 0.9em;
}
button.primary,
a.button.primary,
label.button.primary {
	background-color: hsl(38,29%,55%);
}

.message-center {
	padding: 10px;
	margin: 10px 0;
	background-color: hsl(38,29%,80%);
	color: hsl(38,29%,50%);
	font-size: 0.8em;
	border-radius: 2px;
	text-align: center;
	overflow: hidden;
}

.break {
	border-bottom: 1px solid #ddd;
	margin: 10px 0px;
}

.login-container:before,
.login-container:after,
.content:before,
.content:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 8px 5px hsla(0, 0%, 0%, 0.3);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 5px hsla(0, 0%, 0%, 0.3);
    -webkit-transform: skew(-15deg) rotate(-3deg);
    -moz-transform: skew(-15deg) rotate(-3deg);
    -ms-transform: skew(-15deg) rotate(-3deg);
    -o-transform: skew(-15deg) rotate(-3deg);
    transform: skew(-15deg) rotate(-3deg);
}

.login-container:after,
.content:after {
    left: auto;
    right: 15px;
    -webkit-transform: skew(15deg) rotate(3deg);
    -moz-transform: skew(15deg) rotate(3deg);
    -ms-transform: skew(15deg) rotate(3deg);
    -o-transform: skew(15deg) rotate(3deg);
    transform: skew(15deg) rotate(3deg);
}

.file-page {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top-bar {
	flex-shrink: 0;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.main {
	flex-grow: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.inner {
	max-width: 1000px;
	margin: 0 auto;
}

.top-bar .inner {
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	box-sizing: border-box;
	height: 100%;
}

.top-bar .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}
.top-bar .container .logo {
	height: 35px;
	margin-right: 10px;
}

.top-bar .sign-out {
	color: hsl(38,29%,55%);
	padding: 4px;
	border-radius: 3px;
	transition: background-color 0.5s;
}
.top-bar .sign-out:hover {
	background-color: #eee;
}
.top-bar .sign-out i {
	margin-left: 5px;
}

.content {
	position: relative;
	background-color: white;
	border: 1px solid #ddd;
	padding: 20px;
	margin: 20px 5px 40px 5px;
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.breadcrumbs {
	font-size: 0.8em;
}
.breadcrumbs a,
.breadcrumbs i {
	margin-right: 5px;
}
.breadcrumbs a {
	color: hsl(38,29%,58%);
}

.tool-container {
	display: flex;
	flex-direction: row;
	font-size: 0.6em;
}

.tool-container > * {
	cursor: pointer;
	padding: 4px;
	border-radius: 3px;
	margin-left: 2px;
	transition: background-color 0.5s,
		color 0.5s;
}
.tool-container > *:not(.disabled):hover {
	background-color: #eee;
}

.tool-container .disabled {
	cursor: not-allowed;
	color: #ccc;
}

.file-table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

.file-table td,
.file-table th {
	text-align: left;
	padding: 5px;
	font-weight: 300;
}

.file-table .indent {
	padding: 5px 45px;
}

.file-table .shrink {
	width: 1px;
	white-space: nowrap;
}

.file-table thead tr {
	font-size: 0.8em;
	color: #999;
	border-bottom: 1px solid #ddd;
}
.file-table tbody tr {
	border-bottom: 1px solid #ddd;
}

.file-table .select-td,
.file-table .select-all-td {
	cursor: pointer;
}

.description-td {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.description-td > i {
	margin-right: 10px;
	font-size: 1.5em;
	color: hsl(38,29%,58%);
}

.description-td .sub {
	color: #999;
	font-size: 0.8em;
}

.shade {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: hsla(0,0%,0%,0.3);
}

.popup {
	display: none;
	width: 500px;
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 3px;
}

.popup .header {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

.popup .body {
	background-color: #f8f8f8;
	overflow-y: auto;
}

.popup .footer {
	background-color: #ccc;
	border-top: 1px solid #bbb;
	padding: 10px;
	text-align: right;
}

.popup .footer input {
	position: absolute;
	visibility: hidden;
}

.popup .footer .sub {
	color: #999;
	font-size: 0.8em;
}

.upload-popup .body {
	height: 250px;
}

.upload-item {
	background-color: #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}

.upload-item .main {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.upload-item .filename {
	flex-grow: 1;
	overflow: hidden;
	font-size: 0.9em;
	padding-right: 15px;
}

.upload-item .filename p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload-item .main > i {
	color: hsl(38,29%,58%);
	font-size: 1.3em;
	margin-right: 10px;
}

.upload-item .sub {
	font-size: 0.8em;
	color: #999;
}

.upload-item .complete {
	opacity: 0;
}

.upload-item .progress {
	height: 4px;
	background-color: #eee;
}

.upload-item .progress .bar {
	height: 100%;
	width: 0%;
	background-color: hsl(38,29%,58%);
}

.no-files {
	text-align: center;
	padding: 75px 20px;
	color: #999;
}

.bad-request {
	text-align: center;
	padding: 75px 20px;
}

.bad-request i.fa {
	font-size: 4.0em;
	color: hsl(0,39%,58%);
	margin-bottom: 20px;
}

.bad-request p {
	margin-bottom: 20px;
}
.bad-request p:last-child {
	margin-bottom: 0;
}

.folder-stats {
	text-align: center;
	color: #999;
	font-size: 0.8em;
}

.create-folder-popup .body,
.edit-popup .body {
	padding: 10px;
}

.create-folder-popup label,
.edit-popup label {
	display: block;
	font-size: 0.8em;
	color: #999;
	margin-bottom: 5px;
}

.create-folder-popup input,
.edit-popup input {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	font-size: 1.1em;
	border-radius: 0px;
	border: 1px solid #ddd;
	-webkit-appearance: none;
}

.delete-popup .body {
	padding: 20px;
	text-align: center;
}